@model IEnumerable<Store>

@{
    ViewData["Title"] = "View";
}

<div class="row">
    <div class="col-6 d-flex justify-content-start">
        <h3>Minhas Lojas</h3>
    </div>
    <div class="col-6 d-flex justify-content-end">
        <a class="btn btn-primary" asp-action="Create">
            Nova loja
        </a>
    </div>
</div>

<hr />

<div class="row">
    @foreach (var item in Model)
    {
        <a asp-action="Details" asp-route-id="@item.Id" class="col-lg-3 col-md-3 col-sm-3">
            <div class="card shadow-sm">
                <img class="card-img-top" src="data:image/jpg;base64,@item.ImageBase64" />
                <div class="card-body text-center fw-bold fs-4">
                    <span>@item.Name</span>
                </div>
            </div>
        </a>
    }
</div>

