@page
@model Web.Pages.Store.CreateModel

@{
    ViewData["Title"] = "Nova loja";
}

<div class="row">
    <div class="col-6">
        <h3>Nova loja</h3>
    </div>
    <div class="col-6 d-flex justify-content-end">
        <a class="btn btn-primary" asp-page="./Index">Voltar</a>
    </div>
</div>

<hr />

<div class="row">
    <div class="col-md-12">
        <form method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group mb-2">
                <label asp-for="Store.Name" class="control-label"></label>
                <input asp-for="Store.Name" class="form-control" />
                <span asp-validation-for="Store.Name" class="text-danger"></span>
            </div>
            <div class="form-group mb-2">
                <label asp-for="Store.Address" class="control-label"></label>
                <input asp-for="Store.Address" class="form-control" />
                <span asp-validation-for="Store.Address" class="text-danger"></span>
            </div>
            <div class="form-group mb-2">
                <label asp-for="Store.Phone" class="control-label"></label>
                <input asp-for="Store.Phone" class="form-control" />
                <span asp-validation-for="Store.Phone" class="text-danger"></span>
            </div>
            <div class="form-group mb-2">
                <label asp-for="Store.ImageBase64" class="control-label"></label>
                <input class="form-control" type="file" id="fileForm" name="file"/>
                <span id="validationImage" class="text-danger">O campo Logo é obrigatório.</span>
            </div>
            <input type="hidden" asp-for="Store.UserId" />
            <div class="form-group">
                <input type="button" id="btnForm" value="Criar nova loja" class="btn btn-primary w-100" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    @* <script>
        $(document).ready(function () {
            $("#validationImage").hide();
        })

        $("#btnForm").on("click", function () {
            let input = $("#fileForm")[0];

            if (input.files.length === 1) {
                $("#validationImage").hide();
                input.closest('form').submit();
                return
            }

            $("#validationImage").show();
        })
    </script> *@
}
