@page
@model Web.Pages.Store.EditModel

@{
    ViewData["Title"] = "Edit";

    var item = new  { };
}

<div class="mb-2">
    <a class="btn btn-primary" asp-page="./Details" asp-route-id="@Model.Store.Id">
        <i class="fa fa-arrow-left"></i>
        Voltar
    </a>
</div>

<ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
        <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">Informações</button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false">Mesas</button>
    </li>
</ul>

<div class="tab-content" id="myTabContent">
    <div class="tab-pane show active" id="home" role="tabpanel" aria-labelledby="home-tab">

        <div class="row mt-2">
            <div class="col-md-12">
                <form method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group mb-2">
                        <label asp-for="Store.Name" class="control-label"></label>
                        <input asp-for="Store.Name" class="form-control" />
                        <span asp-validation-for="Store.Name" class="text-danger"></span>
                    </div>
                    <div class="form-group mb-2">
                        <label asp-for="Store.Address" class="control-label"></label>
                        <input asp-for="Store.Address" class="form-control" />
                        <span asp-validation-for="Store.Address" class="text-danger"></span>
                    </div>
                    <div class="form-group mb-2">
                        <label asp-for="Store.Phone" class="control-label"></label>
                        <input asp-for="Store.Phone" class="form-control" />
                        <span asp-validation-for="Store.Phone" class="text-danger"></span>
                    </div>
                    <input type="hidden" asp-for="Store.Id" />
                    <div class="form-group">
                        <input type="submit" value="Salvar alterações" class="btn btn-primary w-100" />
                    </div>
                </form>
            </div>
        </div>

    </div>

    <div class="tab-pane" id="profile" role="tabpanel" aria-labelledby="profile-tab">
        @{
            await Html.RenderPartialAsync("_Tables",
            Model.Store.Tables.ToList(),
            new ViewDataDictionary(ViewData){ { "StoreId", Model.Store.Id } });           
        }
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
